# ===============================================
# Temporary data --------------------------------
# ===============================================

.mysql
.idea
temp

# ===============================================
# Drupal configuration --------------------------
# ===============================================

web/sites/default/settings.local.php
web/sites/*/files

# ===============================================
# Dependencies ----------------------------------
# ===============================================

vendor
drush/contrib
web/core
web/libraries
web/themes/contrib
web/profiles/contrib
composer.lock
